/gym_envs/__pycache__
/gym_envs/envs/__pychache__
/gym_envs.egg-info/
/IRL/analysis/figures/
/IRL/analysis/videos/
/IRL/analysis/result_table.txt
/IRL/tmp/
/IRL/demos/1DTarget/
/IRL/demos/1DTarget_disc/
/IRL/demos/2DTarget/
/IRL/demos/2DTarget_disc/
/IRL/demos/2DWorld/
/IRL/demos/DiscretizedDoublePendulum/
/IRL/demos/DiscretizedHuman/
/IRL/demos/DiscretizedPendulum/
/IRL/demos/HPC/
/IRL/demos/IDP/
/IRL/demos/IP/
/IRL/demos/mujoco_envs/
/OptimalControl/.idea/
/OptimalControl/CartPoleLQR/carPoleLQR.gif
/OptimalControl/CartPoleLQR/LQR.gif
/OptimalControl/CartPoleLQR/cartPoleInitial.gif
/OptimalControl/CartPoleLQR/LQR_pi_4.gif
/OptimalControl/CartPoleLQR/LQR_pi_3.gif
/OptimalControl/CartPoleLQR/LQR_pi_6.gif
/RL/1DTarget/
/RL/1DTarget_disc/
/RL/2DTarget/
/RL/2DTarget_disc/
/RL/CartPole/
/RL/DiscretizedDoublePendulum/
/RL/DiscretizedHuman/
/RL/DiscretizedPendulum/
/RL/IDP/
/RL/IP/
/RL/mujoco_envs/
/tests/algos/tmp/
/linspace.png
/logspace.png
/.idea